# UCI Adult Income Dataset - Data cleaning and Preprocessing 
This notebook is focused on the data preparation ,cleaning and preprocessing for the UCI Adult Income Dataset.

In [103]:
# import libraries
import pandas as pd
import numpy as np
import os

In [104]:
# get working directory 
Current_dir = os.getcwd()
# on one directory up to the root directory 
project_root_dir = os.path.dirname(Current_dir)
# define paths to the data folders
data_dir = os.path.join(project_root_dir,'data')
raw_dir = os.path.join(data_dir,'raw')
processed_dir = os.path.join(data_dir,'processed')
# define paths to result folder 
results_dir = os.path.join(project_root_dir,'results')
# define paths to docs folder 
docs_dir = os.path.join(project_root_dir,'docs')

# create directories if they do not eFileExists 
os.makedirs(raw_dir, exist_ok = True)
os.makedirs(processed_dir, exist_ok = True)
os.makedirs(results_dir, exist_ok = True)
os.makedirs(docs_dir, exist_ok = True)

# Read in the data

In [204]:
adult_data_filename = os.path.join(raw_dir,'adult.csv')
adult_df = pd.read_csv(adult_data_filename, header = None, na_values = '?', skipinitialspace = 'True')
adult_df.head(10)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

In [205]:
adult_df.shape

(32561, 15)

In [206]:
adult_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       32561 non-null  int64
 1   1       30725 non-null  object
 2   2       32561 non-null  int64
 3   3       32561 non-null  object
 4   4       32561 non-null  int64
 5   5       32561 non-null  object
 6   6       30718 non-null  object
 7   7       32561 non-null  object
 8   8       32561 non-null  object
 9   9       32561 non-null  object
 10  10      32561 non-null  int64
 11  11      32561 non-null  int64
 12  12      32561 non-null  int64
 13  13      31978 non-null  object
 14  14      32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

## Data cleaning 
# Assign proper column names to the columns

In [208]:
adult_df.columns = ["age","workclass","fnwgt","education","education_num","marital_status","occupation",
                    "relationship","race","sex","capital_gain","capital_loss","hours_per_week","native_country","income"]

In [209]:
adult_df.head(10)

,age,workclass,fnwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

# Understanding the dataset
- Age: Represents the age of the person, ranging from 17 to 90.
- workclass: Represents the employment status of the person. takes on values:`Federal-gov` ,  `Local-gov` ,  `Never-worked` ,  `Private` , `'Self-emp-in` ',`'Self-emp-not-in`',`'State-go`'`'Without-pa`,` 'n`
- fnwgt: the weigh the individual represents in the population
- education:Represents the school each person took.
- education_num: Represents years spent in education.]

In [385]:
np.unique(adult_df.income.to_list())

array(['<=50k', '>50k'], dtype='<U5')

In [386]:
adult_df.columns

Index(['age', 'workclass', 'fnwgt', 'education', 'education_num',
       'marital_status', 'occupation', 'relationship', 'race', 'sex',
       'capital_gain', 'capital_loss', 'hours_per_week', 'native_country',
       'income', 'education_level', 'occupation_grouped',
       'relationship_status', 'native_region'],
      dtype='object')

### Dealing with missing values

In [388]:
adult_df.isnull().sum()

age                    0
workclass              0
fnwgt                  0
education              0
education_num          0
marital_status         0
occupation             0
relationship           0
race                   0
sex                    0
capital_gain           0
capital_loss           0
hours_per_week         0
native_country         0
income                 0
education_level        0
occupation_grouped     0
relationship_status    0
native_region          0
dtype: int64

In [389]:
adult_df['workclass']=adult_df['workclass'].fillna('Unknown')
adult_df['native_country']=adult_df['native_country'].fillna('Other')
adult_df['occupation']=adult_df['occupation'].fillna('Unknown')

In [390]:
adult_df.isnull().sum()

age                    0
workclass              0
fnwgt                  0
education              0
education_num          0
marital_status         0
occupation             0
relationship           0
race                   0
sex                    0
capital_gain           0
capital_loss           0
hours_per_week         0
native_country         0
income                 0
education_level        0
occupation_grouped     0
relationship_status    0
native_region          0
dtype: int64

### Dealing with duplicates

In [392]:
adult_df.duplicated().sum()

1

In [393]:
adult_df[adult_df.duplicated(keep=False)]

,age,workclass,fnwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income,education_level,occupation_grouped,relationship_status,native_region
12233,22,government,262819,some-college,10,single,adm-clerical,single,white,female,0,0,40,united-states,<=50k,some-college,white collar,not-in-family,north_america
23520,22,government,262819,some-college,10,single,adm-clerical,single,white,female,0,0,40,united-states,<=50k,some-college,white collar,not-in-family,north_america

In [394]:
adult_df= adult_df.drop_duplicates()

In [395]:
adult_df.duplicated().sum()

0

In [396]:
adult_df.shape

(32536, 19)

### Standardize categorical variables
**Remove any leading or trailing spaces and convert the strings to lowercase**

In [398]:
adult_df.dtypes == object

age                    False
workclass               True
fnwgt                  False
education               True
education_num          False
marital_status          True
occupation              True
relationship            True
race                    True
sex                     True
capital_gain           False
capital_loss           False
hours_per_week         False
native_country          True
income                  True
education_level         True
occupation_grouped      True
relationship_status     True
native_region           True
dtype: bool

In [399]:
 categorical_cols = adult_df.columns[(adult_df.dtypes == object)]
for col in categorical_cols: 
    adult_df[col] = adult_df[col].str.strip().str.lower()

C:\Users\ADELINE PC\AppData\Local\Temp\ipykernel_3924\2315004554.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adult_df[col] = adult_df[col].str.strip().str.lower()

In [400]:
adult_df

,age,workclass,fnwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income,education_level,occupation_grouped,relationship_status,native_region
0,39,government,77516,bachelors,13,single,adm-clerical,single,white,male,2174,0,40,united-states,<=50k,tertiary,white collar,not-in-family,north_america
1,50,self-employed,83311,bachelors,13,married,exec-managerial,male spouse,white,male,0,0,13,united-states,<=50k,tertiary,white collar,husband,north_america
2,38,private,215646,hs-grad,9,divorced or separated,handlers-cleaners,single,white,male,0,0,40,united-states,<=50k,high school graduate,blue collar,not-in-family,north_america
3,53,private,234721,11th,7,married,handlers-cleaners,male spouse,black,male,0,0,40,united-states,<=50k,secondary,blue collar,husband,north_america
4,28,private,338409,bachelors,13,married,prof-specialty,female spouse,black,female,0,0,40,cuba,<=50k,tertiary,white collar,wife,central_america
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,private,257302,assoc-acdm,12,married,tech-support,female spouse,white,female,0,0,38,united-states,<=50k,associate,white collar,wife,north_america
32557,40,private,154374,hs-grad,9,married,machine-op-inspct,male spouse,white,male,0,0,40,united-states,>50k,high school graduate,blue collar,husband,north_america
32558,58,private,151910,hs-grad,9,widowed,adm-clerical,single,white,female,0,0,40,united-states,<=50k,high school graduate,white collar,unmarried,north_america
32559,22,private,201490,hs-grad,9,single,adm-clerical,child,white,male,0,0,20,united-states,<=50k,high school graduate,white collar,own-child,north_america
32560,52,self-employed,287927,hs-grad,9,married,exec-managerial,female spouse,white,female,15024,0,40,united-states,>50k,high school graduate,white collar,wife,north_america

**Re-code the `workclass` column**

In [402]:
adult_df['workclass'].unique()

array(['government', 'self-employed', 'private', 'unknown', 'voluntary',
       'unemployed'], dtype=object)

In [403]:
adult_df['workclass'] = adult_df['workclass'].replace({
'state-gov':'government', 
'local-gov':'government', 
'federal-gov':'government', 
'self-emp-not-inc':'self-employed', 
'self-emp-inc':'self-employed', 
'never-worked':'unemployed', 
'without-pay':'voluntary',
})

C:\Users\ADELINE PC\AppData\Local\Temp\ipykernel_3924\3985786825.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adult_df['workclass'] = adult_df['workclass'].replace({

**Re-code `education` column**

In [405]:
adult_df['education'].unique()

array(['bachelors', 'hs-grad', '11th', 'masters', '9th', 'some-college',
       'assoc-acdm', 'assoc-voc', '7th-8th', 'doctorate', 'prof-school',
       '5th-6th', '10th', '1st-4th', 'preschool', '12th'], dtype=object)

In [406]:
adult_df['education_level'] = adult_df['education'].replace({
    'bachelors': 'tertiary', 
    'masters': 'tertiary', 
    'doctorate': 'tertiary', 
    'prof-school': 'tertiary', 
    'assoc-acdm': 'associate', 
    'assoc-voc': 'associate', 
    'hs-grad': 'high school graduate',
    '12th': 'secondary', 
    '11th': 'secondary', 
    '10th': 'secondary', 
    '9th': 'secondary',
    '7th-8th': 'primary',
    '5th-6th': 'primary', 
    '1st-4th': 'primary', 
    'preschool': 'preschool'
})

C:\Users\ADELINE PC\AppData\Local\Temp\ipykernel_3924\1855397518.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adult_df['education_level'] = adult_df['education'].replace({

In [407]:
adult_df.columns

Index(['age', 'workclass', 'fnwgt', 'education', 'education_num',
       'marital_status', 'occupation', 'relationship', 'race', 'sex',
       'capital_gain', 'capital_loss', 'hours_per_week', 'native_country',
       'income', 'education_level', 'occupation_grouped',
       'relationship_status', 'native_region'],
      dtype='object')

In [408]:
adult_df['education_level'].unique()

array(['tertiary', 'high school graduate', 'secondary', 'some-college',
       'associate', 'primary', 'preschool'], dtype=object)

**Re-code `marital_status` column**

In [410]:
adult_df['marital_status'].unique()

array(['single', 'married', 'divorced or separated', 'widowed'],
      dtype=object)

In [411]:
adult_df['marital_status'] = adult_df['marital_status'].replace({
    'never-married': 'single', 
    'married-civ-spouse': 'married', 
    'married-spouse-absent': 'divorced or separated', 
    'divorced': 'divorced or separated', 
    'separated': 'divorced or separated', 
    'married-af-spouse': 'married'
})

C:\Users\ADELINE PC\AppData\Local\Temp\ipykernel_3924\156966435.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adult_df['marital_status'] = adult_df['marital_status'].replace({

In [412]:
adult_df['marital_status'].unique()

array(['single', 'married', 'divorced or separated', 'widowed'],
      dtype=object)

**Re-code `occupation` column**

In [414]:
adult_df['occupation'].unique()

array(['adm-clerical', 'exec-managerial', 'handlers-cleaners',
       'prof-specialty', 'other-service', 'sales', 'craft-repair',
       'transport-moving', 'farming-fishing', 'machine-op-inspct',
       'tech-support', 'unknown', 'protective-serv', 'armed-forces',
       'priv-house-serv'], dtype=object)

In [415]:
adult_df['occupation_grouped'] = adult_df['occupation'].replace({
    'adm-clerical': 'white collar', 
    'exec-managerial': 'white collar', 
    'handlers-cleaners': 'blue collar', 
    'prof-specialty': 'white collar', 
    'other-service': 'service', 
    'sales': 'white collar', 
    'craft-repair': 'blue collar',
    'transport-moving': 'blue collar', 
    'farming-fishing': 'blue collar', 
    'machine-op-inspct': 'blue collar', 
    'tech-support': 'white collar',
    'unknown': 'unknown',
    'protective-serv': 'service', 
    'armed-forces': 'military', 
    'priv-house-serv': 'service'
})

C:\Users\ADELINE PC\AppData\Local\Temp\ipykernel_3924\1742681081.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adult_df['occupation_grouped'] = adult_df['occupation'].replace({

In [416]:
adult_df['occupation_grouped'].unique()

array(['white collar', 'blue collar', 'service', 'unknown', 'military'],
      dtype=object)

**Re-code `Relationship` column**

In [418]:
adult_df['relationship'].unique()

array(['single', 'male spouse', 'female spouse', 'child',
       'extended relative'], dtype=object)

In [419]:
adult_df['relationship'] = adult_df['relationship'].replace({
    'husband': 'male spouse', 
    'wife': 'female spouse', 
    'own-child': 'child', 
    'not-in-family': 'single', 
    'unmarried': 'single', 
    'other-relative': 'extended relative'
})

C:\Users\ADELINE PC\AppData\Local\Temp\ipykernel_3924\2365791397.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adult_df['relationship'] = adult_df['relationship'].replace({

In [420]:
adult_df['relationship'].unique()

array(['single', 'male spouse', 'female spouse', 'child',
       'extended relative'], dtype=object)

**Re-code `race` column**

In [422]:
adult_df['race'].unique()

array(['white', 'black', 'asian or pacific islander',
       'american indian or eskimo', 'other'], dtype=object)

In [423]:
adult_df['race'] = adult_df['race'].replace({
    'white': 'white', 
    'black': 'black', 
    'asian-pac-islander': 'asian or pacific islander', 
    'amer-indian-eskimo': 'american indian or eskimo', 
    'other': 'other'
})

C:\Users\ADELINE PC\AppData\Local\Temp\ipykernel_3924\3027725446.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adult_df['race'] = adult_df['race'].replace({

In [424]:
adult_df['race'].unique()

array(['white', 'black', 'asian or pacific islander',
       'american indian or eskimo', 'other'], dtype=object)

**Re-code `native_country` column**

In [426]:
adult_df['native_country'].unique()

array(['united-states', 'cuba', 'jamaica', 'india', 'other', 'mexico',
       'south', 'puerto-rico', 'honduras', 'england', 'canada', 'germany',
       'iran', 'philippines', 'italy', 'poland', 'columbia', 'cambodia',
       'thailand', 'ecuador', 'laos', 'taiwan', 'haiti', 'portugal',
       'dominican-republic', 'el-salvador', 'france', 'guatemala',
       'china', 'japan', 'yugoslavia', 'peru',
       'outlying-us(guam-usvi-etc)', 'scotland', 'trinadad&tobago',
       'greece', 'nicaragua', 'vietnam', 'hong', 'ireland', 'hungary',
       'holand-netherlands'], dtype=object)

In [427]:
adult_df['native_region'] = adult_df['native_country'].replace({
    'united-states': 'north_america', 
    'cuba': 'central_america', 
    'jamaica': 'central_america', 
    'india': 'asia', 
    'other': 'other', 
    'mexico': 'north_america', 
    'south': 'south_america',
    'puerto-rico': 'north_america', 
    'honduras': 'central_america', 
    'england': 'europe', 
    'canada': 'north_america',
    'germany': 'europe',
    'iran': 'asia', 
    'philippines': 'asia', 
    'italy': 'europe',
    'poland':'europe',
    'columbia':'south_america', 
    'cambodia':'asia',
    'thailand':'asia', 
    'ecuador':'south_america', 
    'laos':'asia', 
    'taiwan':'asia', 
    'haiti':'central_america', 
    'portugal':'europe',
    'dominican-republic':'central_america', 
    'el-salvador':'central_america',
    'france':'europe', 
    'guatemala':'central_america',
    'china':'asia', 
    'japan':'asia', 
    'yugoslavia':'europe',
    'peru':'south_america',
    'outlying-us(guam-usvi-etc)':'north_america',
    'scotland':'europe',
    'trinadad&tobago':'central_america',
    'greece':'europe', 
    'nicaragua':'central_america', 
    'vietnam':'asia',
    'hong':'asia', 
    'ireland':'europe', 
    'hungary':'europe',
    'holand-netherlands':'europe'
})

C:\Users\ADELINE PC\AppData\Local\Temp\ipykernel_3924\2898317008.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adult_df['native_region'] = adult_df['native_country'].replace({

In [428]:
adult_df['native_region'].unique()

array(['north_america', 'central_america', 'asia', 'other',
       'south_america', 'europe'], dtype=object)